*{
    padding:0;
    margin: 0;
}
body{
    background-color: aqua;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.feedbacks{
    width:80%;
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(2,minmax(16rem,max-content));
    grid-gap: 1rem;
    margin: auto;
}
.feedbacks .feedback{
    padding-inline: 2rem;
    padding-block: 2rem;
    border-radius: 5px;
}
.feedbacks .info-feedback{
    display: flex;
    flex-wrap: wrap;
}
.feedbacks .daniel,
.feedbacks .jonathan,
.feedbacks .patrick{
    color: white;
}
.feedbacks .feedback .info-feedback,
.feedbacks .feedback .info-feedback{
    margin-block-end: 1rem;
}
.feedbacks .sub-heading ,
.feedbacks .grad{
    opacity: 50%;
}
.feedbacks .info-feedback img{
    border-radius: 50%;
} 
.feedbacks .daniel{
    background: url(../images/bg-pattern-quotation.svg),
    rgb(117, 65, 200);
    background-repeat: no-repeat;
    background-position:top right;
    grid-column-start:1;
    grid-column-end: 3;
}
.feedbacks .jonathan{
    background-color:  rgb(72, 85, 106);
    grid-column-start: 3;
}
.feedbacks .kira ,
.feedbacks .jeanette{
    background-color: rgb(255, 255, 255);
}
.feedbacks .kira{
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
.feedbacks .patrick{
    background-color:  rgb(25, 33, 46);
    grid-column-start: 2;
    grid-column-end: 4;
}