*{
    padding:0;
    margin: 0;
}
body{
    background-color: rgb(220, 253, 253);
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.feedbacks{
    width:80%;
    display: grid;
    grid-template-columns: repeat(4,minmax(13rem,auto));
    grid-template-rows: repeat(2,minmax(14rem,auto));
    grid-gap: 1rem;
    margin: auto;
    margin-block-start: 1rem;
}
@media (max-width:992px){
    .feedbacks{
        display:block;   
    }
    .feedbacks .feedback{
        margin-block-end: 1rem;
    }
}
.feedbacks .feedback{
    padding-inline: 2rem;
    padding-block: 2rem;
    border-radius: 5px;
}
.feedbacks .feedback .heading{
    font-size: 1.125rem;
}
.feedbacks .info-feedback{
    display: flex;
    flex-wrap: wrap;
}
.feedbacks .info-feedback .name-info{
    margin-inline-start:1.25rem;
   
}
.feedbacks .daniel,
.feedbacks .jonathan,
.feedbacks .patrick{
    color: white;
}
.feedbacks .feedback .info-feedback,
.feedbacks .feedback .info-feedback{
    margin-block-end: 1rem;
}
.feedbacks .sub-heading ,
.feedbacks .grad{
    opacity: 70%;
}
.feedbacks .info-feedback img{
    border-radius: 50%;
    width: 1.875rem;
} 
.feedbacks .daniel{
    background: url(../images/bg-pattern-quotation.svg),
    rgb(117, 65, 200);
    background-repeat: no-repeat;
    background-position:top right;
    grid-column-start:1;
    grid-column-end: 3;
}
.feedbacks .jonathan{
    background-color:  rgb(72, 85, 106);
    grid-column-start: 3;
}
.feedbacks .kira ,
.feedbacks .jeanette{
    background-color: rgb(255, 255, 255);
}
.feedbacks .kira{
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
@media (max-width:992px){
    .feedbacks .kira{
        grid-row-start: -1;
    }
    
} 
.feedbacks .patrick{
    background-color:  rgb(25, 33, 46);
    grid-column-start: 2;
    grid-column-end: 4;
}
.feedbacks .feedback .sub-heading{
    margin-block-start: 15px;
}
.feedbacks .jeanette .heading,
.feedbacks  .kira .heading{
    opacity: 80%;
}