*{
    padding:0;
    margin: 0;
}
.testimonial{
    display: grid;
    grid-template-columns: repeat(3, minmax(15.625rem,1fr));
    grid-template-rows: repeat(2,1fr);
}
.testimonial div img{
    display: flex;
    border-radius: 50%;
} 
.testimonial .test-daniel{
    background: url(../images/bg-pattern-quotation.svg),
    rgb(117, 65, 200);
    background-repeat: no-repeat;
    background-position:top right;
    margin-inline-end: 4rem;
}
